.navmenu {
  padding: 20px 0px;
}

.navmenu .brand-logo {
  float: left;
}

.navmenu .menu {
  text-align: right;
  padding: 0px;
}

.navmenu .menu .contact ul {
  margin: 0px;
  padding: 0px;
}

.navmenu .menu .contact ul li {
  display: inline-block;
  margin-left: 5px;
}

.navmenu .menu .contact ul li span {
  font-size: 21px;
  font-family: "eurostile";
  font-weight: 400;
  color: #5F6672;
}

.navmenu .menu .contact ul li span a {
  text-decoration: none;
  color: #2B8FE5;
}

.navmenu .menu .navbar {
  float: right;
  padding: 8px 0px;
}

.navmenu .menu .navbar ul {
  margin: 0px;
  padding: 0px;
}

.navmenu .menu .navbar ul li {
  display: inline-block;
  margin-left: 30px;
}

.navmenu .menu .navbar ul li a {
  text-decoration: none;
  font-size: 21px;
  font-family: "eurostile";
  font-weight: 400;
  color: #092772;
}

@media screen and (max-width: 991px) {
  .navmenu .brand-logo img {
    width: 210px;
    height: 55px;
  }
  .navmenu .menu .contact ul li span {
    font-size: 14px;
  }
  .navmenu .menu .navbar {
    padding: 5px 0px;
  }
  .navmenu .menu .navbar ul li a {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .navmenu .brand-logo img {
    width: 185px;
    height: 30px;
  }
  .navmenu .menu .contact ul li span {
    font-size: 10px;
  }
  .navmenu .menu .contact ul .phone img {
    height: 15px;
    width: 6px;
  }
  .navmenu .menu .contact ul .email img {
    height: 10px;
    width: 17px;
  }
  .navmenu .menu .contact ul .facebook img, .navmenu .menu .contact ul .linkedin img {
    height: 15px;
    width: 15px;
  }
  .navmenu .menu .navbar ul li {
    margin-left: 20px;
  }
  .navmenu .menu .navbar ul li a {
    font-size: 10px;
  }
}

@media screen and (max-width: 575px) {
  .navmenu .brand-logo {
    width: 20%;
  }
  .navmenu .menu {
    width: 80%;
  }
}

@media screen and (max-width: 490px) {
  .navmenu .brand-logo {
    width: 10%;
  }
  .navmenu .brand-logo img {
    width: 175px;
    height: 20px;
  }
  .navmenu .menu {
    width: 90%;
  }
  .navmenu .menu .contact ul li {
    margin-left: 0px;
  }
  .navmenu .menu .contact ul li span {
    font-size: 10px;
  }
  .navmenu .menu .contact ul .phone img {
    height: 12px;
    width: 3px;
  }
  .navmenu .menu .contact ul .email img {
    height: 7px;
    width: 14px;
  }
  .navmenu .menu .contact ul .facebook img, .navmenu .menu .contact ul .linkedin img {
    height: 10px;
    width: 10px;
  }
  .navmenu .menu .contact ul .linkedin img {
    height: 10px;
    width: 10px;
  }
  .navmenu .menu .navbar ul li {
    margin-left: 10px;
  }
  .navmenu .menu .navbar ul li a {
    font-size: 10px;
  }
}

@media screen and (max-width: 421px) {
  .navmenu .brand-logo {
    width: 10%;
  }
  .navmenu .brand-logo img {
    width: 175px;
    height: 20px;
  }
  .navmenu .menu {
    width: 90%;
  }
  .navmenu .menu .contact ul li {
    margin-left: 0px;
  }
  .navmenu .menu .contact ul li span {
    font-size: 8px;
  }
  .navmenu .menu .contact ul .phone img {
    height: 12px;
    width: 3px;
  }
  .navmenu .menu .contact ul .email img {
    height: 7px;
    width: 14px;
  }
  .navmenu .menu .contact ul .facebook img, .navmenu .menu .contact ul .linkedin img {
    height: 10px;
    width: 10px;
  }
  .navmenu .menu .contact ul .linkedin img {
    height: 10px;
    width: 10px;
  }
  .navmenu .menu .navbar {
    padding: 0px 0px;
  }
  .navmenu .menu .navbar ul li {
    margin-left: 10px;
  }
  .navmenu .menu .navbar ul li a {
    font-size: 8px;
  }
}
/*# sourceMappingURL=common.css.map */